body {
    margin-top: 75px;
}

.caption a{
	color : #000;
}

#body-content{
   min-height:100%;
   position:relative;
}

footer{
   bottom:40px;
   width:100%;
   height:60px;   
   position : absolute; 
}